
<mat-toolbar class="toolbar">
  <button mat-icon-button class="home-icon" aria-label="">
    <mat-icon routerLink="/atm-home">home</mat-icon>
  </button>
  <span>The Bank</span>
  <span class="spacer"></span>
  <button mat-icon-button class="login-icon" aria-label="">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button class="money-icon" aria-label="">
    <mat-icon routerLink="/teller">money</mat-icon>
  </button>
  <button mat-icon-button class="contact-button" aria-label="">
    <mat-icon routerLink="/contact">email</mat-icon>
  </button>
</mat-toolbar>
