<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ bankService.account.fname }}</mat-card-title>
    <mat-card-subtitle>Since 2019</mat-card-subtitle>
  </mat-card-header>
  <!-- <form> -->
    <mat-form-field>
      <input
      mvndrMatCurrencyFormat
      [allowNegative]="false"
      [currencyCode]="'USD'"
      id='inputId'
      matInput
      type="number"
      min="0.01"
      max="2500"
      required
      placeholder="U$"
      minlength="1"
      [(ngModel)]="value">
      <!-- <mat-error *ngIf="value.invalid">Please enter desired amount.</mat-error> -->
      <!-- <input
        matInput
        type="number"
        name="amount"
        ngModel
        required
        placeholder="U$"
        minlength="1"
        #amount="ngModel">
        <mat-error *ngIf="amount.invalid">Please enter desired amount.</mat-error> -->
    </mat-form-field>
  <!-- </form> -->
  <mat-card-content *ngIf = "bankService.ifHidingWelcome">
    <h3 class="mat-body-1">
      Welcome, {{bankService.account.fname}}
    </h3>
    <p class="mat-body-1">
      How can we help you today?
    </p>
  </mat-card-content>
  <!-- Display Feedback information here -->
  <!-- WIDTHDRAWL INFO -->
  <mat-card-content class= "widthdrawl-info" *ngIf = "bankService.ifWidthdrawl">
    <h3 class="mat-body-1">
      Transaction Successful, {{bankService.account.fname}} !
    </h3>
    <p class="mat-body-1">
      Widthdrawl Amount = {{ this.value }} <span>U$</span>
    </p>
    <p class="mat-body-1">
      Current Balance = {{ bankService.account.balance }} <span>U$</span>
    </p>
  </mat-card-content>
  <!-- DEPOSITE INFO -->
  <mat-card-content class= "deposite-info" *ngIf = "bankService.ifDeposite">
    <h3 class="mat-body-1">
      Transaction Successful, {{bankService.account.fname}} !
    </h3>
    <p class="mat-body-1">
      Deposited Amount = {{ this.value }} <span>U$</span>
    </p>
    <p class="mat-body-1">
      Current Balance = {{ bankService.account.balance }} <span>U$</span>
    </p>
  </mat-card-content>
  <!-- BALANCE INFO-->
  <mat-card-content *ngIf = "bankService.ifBalance">
    <h3 class="mat-body-1">
      Current Balance = {{ bankService.account.balance }} <span>U$</span>
    </h3>
  </mat-card-content>
  <mat-card-actions>
    <button
    mat-raised-button
    style="width : 7em;"
    color= "basic"
    (click) = "onWidthdrawl()">Widthdrawl</button>
    <button
    mat-raised-button
    color="basic"
    (click) = "onDeposite()">Deposit</button>
    <button
    mat-raised-button
    color="basic"
    style="width : 6em;"
    (click) = "checkBalance()">Balance</button>
    <button
    mat-raised-button
    style="width : 7.5em;"
    color= "basic"
    (click) = "transactionList()">Transactions</button>
  </mat-card-actions>
  <!-- Last 3 Transactions LIST -->
  <!-- <mat-accordion multi="true" *ngIf = "listTransaction && transacions.length > 0"> -->
  <mat-accordion multi="true" *ngIf = "bankService.ifListTransaction">
    <mat-expansion-panel *ngFor= "let transaction of bankService.account.transactions | slice:0:3">
      <mat-expansion-panel-header>
        Date: {{ transaction.date }}
      </mat-expansion-panel-header>
        <p class="mat-body-1">
          {{ transaction.type }} : {{ transaction.amount }} <span>U$</span>
        </p>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- <p class="mat-body-1" *ngIf= "transactions.length <= 0">No trasactions to display!</p> -->
</mat-card>
